
   <section class="my-4 mx-5">
       <div class="container">
       <div class="row">
           <h1 class="col-12 font-weight-bold py-3">Ghost Production Service</h1>
          <div class="col-md-6 col-lg-4 col-12 mt-5">
              <div class="card">
              <div style="padding:1rem">
                    <img src="assets/images/service-img-1.png" class="card-img s-img-1" alt="image">
              </div>
  
                    <div class="card-body">
                          <h5 class="card-title">Custom Remix</h5>
                          <p class="card-text">Customise your pro page to tell your story. We have countless customisation options.</p>
                          <a href="#" class="btn btn-secondary">Read More<i class="fa fa-arrow-circle-right right-fa"></i></a>
              <a href="#" class="btn btn-custom1">Available Producers</a>
                      </div>
              </div>
          </div>
          <div class="col-md-6 col-lg-4 col-12 mt-5">
              <div class="card">
              <div style="padding:1rem">
                    <img src="assets/images/service-img-2.png" class="card-img s-img-2" alt="image">
              </div>
  
                    <div class="card-body">
                          <h5 class="card-title">Custom Track</h5>
                          <p class="card-text">whether it be beats, custom service, sound kits, Merck, and much more we make selling easy.</p>
                          <a href="#" class="btn btn-secondary">Read More<i class="fa fa-arrow-circle-right right-fa"></i></a>
              <a href="#" class="btn btn-custom1">Available Producers</a>
                      </div>
              </div>
          </div>
          <div class="col-12 col-lg-4 col-md-6 mt-5">
              <div class="card">
              <div style="padding:1rem">
                    <img src="assets/images/service-img-3.png" class="card-img s-img-3" alt="...">
              </div>
  
                    <div class="card-body">
                          <h5 class="card-title">Mixing & mastering</h5>
                          <p class="card-text">There is no delay in collectiong your Earnings. Get paid every time you make a sale.</p>
                          <a href="#" class="btn btn-secondary">Read More<i class="fa fa-arrow-circle-right right-fa"></i></a>
              <a href="#" class="btn btn-custom1">Available Producers</a>
                      </div>
              </div>
          </div>
          <div class="col-md-6 col-lg-4 col-12 mt-5">
              <div class="card">
                  <div style="padding:1rem">
                        <img src="assets/images/service-img-4.png" class="card-img s-img-4" alt="...">
                  </div>
      
                  <div class="card-body">
                        <h5 class="card-title">Custom MIDI</h5>
                        <p class="card-text">Customize your pro Page to tell your story. We have countless customisation options.</p>
                        <a href="#" class="btn btn-secondary">Read More<i class="fa fa-arrow-circle-right right-fa"></i></a>
                        <a href="#" class="btn btn-custom1">Available Producers</a>
                  </div>
              </div>
          </div>
          <div class="col-md-6 col-lg-4 col-12 mt-5">
              <div class="card">
              <div style="padding:1rem">
                    <img src="assets/images/service-img-5.png" class="card-img s-img-5" alt="...">
              </div>
  
                    <div class="card-body">
                          <h5 class="card-title">Live DJ Set</h5>
                          <p class="card-text">whether i tbe beats, custom services, sound kits, Merck, and much more we make selling easy.</p>
                          <a href="#" class="btn btn-secondary">Read More<i class="fa fa-arrow-circle-right right-fa"></i></a>
              <a href="#" class="btn btn-custom1">Available Producers</a>
                      </div>
              </div>
          </div>
          
  
       </div>
           
       </div>
   </section>
   