


<nav class="navbar navbar-expand-lg navbar-light">
  <a class="navbar-brand" href="#">
    <img src="assets/images/sd-logo.png" class="img-fluid" alt="image">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav ml-auto mr-5">
      <li class="nav-item active">
    
        <a class="nav-link" href="#"><i class="fa fa-home left-fa"></i>Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"><i class="fa fa-store left-fa"></i>Store</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/service']"><i class="fa fa-clipboard left-fa"></i>Service</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"><i class="fa fa-headphones left-fa"></i>Custom Track</a>
      </li>
      <li class="nav-item mt-auto mb-auto">
        <a class="nav-link" id="login" style="border:1px solid #00B278; border-radius:10px;" [routerLink]="['/login']">Login</a>
      </li>
      
    <!---
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown link
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
    -->

    </ul>
  </div>
</nav>


<router-outlet></router-outlet>
